* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black{
  background-color: rgb(51, 12, 12);
}
.white{
  background-color: rgb(129, 129, 255);
}
.checker-white{
  width: 60px;
  height: 60px;
  background-color: blueviolet;
  border-radius: 50%;
}
.checker-white__que{
  width: 55px;
  height: 55px;
  background-color: rgb(183, 144, 219);
  border-radius: 50%;
  border-color: black;
  border-style: dashed;
  border-width: 5px;
}
.checker-black{
  width: 58px;
  height: 58px;
  background-color: rgb(38, 10, 63);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
}
.checker-black__que{
  width: 55px;
  height: 55px;
  background-color: rgb(11, 3, 19);
  border-radius: 50%;
  border-style: dashed;
  border-width: 5px;
  border-color: aqua;
}